<div class="pt-16 pb-80 md:pb-96">
  <div class="w-[90%] mx-auto">
    <div>
      <h3 class="text-cyan-800 text-sm font-bold text-center tracking-widest">
        TRUSTED BY 250,000 HAPPY CUSTOMERS WORLDWIDE
      </h3>
    </div>
    <div class="companies-grid w-[90%] mx-auto md:w-[70%] py-16">
      <img src="../src/assets/powerbull.svg" alt="" />
      <img src="../src/assets/lifebook.svg" alt="" />
      <img src="../src/assets/javastar.svg" alt="" />
      <img src="../src/assets/mailbanana.svg" alt="" />
      <img src="../src/assets/zoom.png" alt="" class="w-[128px]" />
      <img src="../src/assets/cloudforce.svg" alt="" />
      <img src="../src/assets/simplefolk.svg" alt="" />
      <img src="../src/assets/clamseat.svg" alt="" />
    </div>
  </div>
</div>
