<div id="video-section" class="bg-[#49D6E8] relative pb-12 md:py-24">
  <div class="w-[65%] md:w-[50%] mx-auto">
    <div class="hidden md:flex mx-auto w-full justify-center items-center flex-col gap-4">
      <button>
        <img src="../src/assets/play-button.png" alt="play-button" class="w-[92px]" id="play" />
      </button>
      <p class="text-secondColor tracking-widest">watch video</p>
    </div>

    <div class="z-10 pt-8">
      <h2 class="text-mainColor text-4xl text-center leading-10 tracking-wide font-medium p-4">
        Unlock The Potential
      </h2>
      <p class="text-secondColor text-sm md:text-lg text-center leading-6 font-medium">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestiae amet sequi
        voluptas officia exercitationem, consequuntur aperiam magni, laborum animi nemo
        reprehenderit iusto sit ipsam quasi aliquam itaque eum. Omnis?
      </p>
    </div>
  </div>
</div>

<div
  id="product"
  class="flex flex-col md:flex-row md:w-[90%] lg:w-[75%] mx-auto gap-2 justify-center items-center pb-8 md:py-16"
>
  <div class="py-8 px-4 md:py-0 mx-auto h-full w-full flex justify-center md:justify-start">
    <img src="../src/assets/product-shot.svg" alt="product-shot" class="h-full" />
  </div>
  <div class="px-6 flex flex-col gap-8">
    <div class="">
      <h2 class="text-mainColor text-3xl leading-10 tracking-wide font-semibold pb-4">
        Product analytics answers your questions
      </h2>
      <p class="text-gray-500 text-sm font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio reprehenderit
        adipisci aspernatur facere illo ad voluptatum ipsum laboriosam illum?
      </p>
    </div>

    <div class="md:flex md:gap-4">
      <div><img src="../src/assets/o-saas-features-icon-01.svg" alt="" class="md:w-[64px]" /></div>
      <div>
        <h2 class="text-mainColor text-2xl leading-10 tracking-wide font-medium pt-4 pb-2 md:py-0">
          Better understand your customers
        </h2>
        <p class="text-gray-500 text-sm font-medium">
          Explain the features and what it acompolishes. What does your company offer that will
          improve or solve a problem?
        </p>
      </div>
    </div>

    <div class="md:flex md:gap-4">
      <div><img src="../src/assets/o-saas-features-icon-02.svg" alt="" class="md:w-[64px]" /></div>
      <div>
        <h2 class="text-mainColor text-2xl leading-10 tracking-wide font-medium pt-4 pb-2 md:py-0">
          Improve acquisition
        </h2>
        <p class="text-gray-500 text-sm font-medium">
          Explain the features and what it acompolishes. What does your company offer that will
          improve or solve a problem?
        </p>
      </div>
    </div>

    <div class="md:flex md:gap-4">
      <div><img src="../src/assets/o-saas-features-icon-03.svg" alt="" class="md:w-[64px]" /></div>
      <div>
        <h2 class="text-mainColor text-2xl leading-10 tracking-wide font-medium pt-4 pb-2 md:py-0">
          Drive customer retention
        </h2>
        <p class="text-gray-500 text-sm leading-7 font-medium">
          Explain the features and what it acompolishes. What does your company offer that will
          improve or solve a problem?
        </p>
      </div>
    </div>
  </div>
</div>
