<footer class="border-t border-gray-400 py-8 px-6 mt-24 text-gray-550 md:w-[75%] mx-auto">
  <img src="../src/assets/logo-dark.png" alt="" class="w-[64px] pb-8" />
  <div class="flex flex-col md:flex-row gap-8 md:justify-between">
    <div class="flex flex-col gap-4 flex-1">
      <div>
        <h3 class="text-gray-700 font-semibold text-lg py-2">VANCOUVER</h3>
        <p>400-401 West Georgia Street</p>
        <p>Vancouver, BC, Canada, V6B 5A1</p>
      </div>
      <div>
        <h3 class="text-gray-700 font-semibold text-lg py-2">BERLIN</h3>
        <p>Friedrichstraße 68</p>
        <p>10117 Berlin, Germany</p>
      </div>
    </div>

    <div class="flex-1 flex flex-col gap-4">
      <h3 class="text-gray-700 font-semibold text-lg py-2">FOLLOW US ON</h3>
      <ul>
        <li><a href="#"> Twitter</a></li>
        <li><a href="#"> Facebook</a></li>
        <li><a href="#"> Linkedin</a></li>
        <li><a href="#"> Instagram</a></li>
      </ul>
    </div>

    <div class="flex flex-col gap-4 flex-1">
      <h3 class="text-gray-700 font-semibold text-lg py-2">ABOUT US</h3>
      <p>
        Since 2018, Quicky has helped marketers and digital agencies increase website and campaign
        conversions.
      </p>
      <p>© 2022 Quicky. All rights reserved</p>
    </div>
  </div>
</footer>
