<div class="w-[90%] lg:w-[75%] bg-white -mt-64 mx-auto rounded-md">
  <div class="text-center py-12 px-4 md:py-24">
    <h2 class="text-mainColor text-4xl leading-10 tracking-wider font-normal pb-4 md:text-5xl">
      The Pricing Plan
    </h2>
    <p class="text-gray-550 text-base font-medium w-[75%] mx-auto md:w-[50%] md:text-lg">
      The most powerful analytics to understand how people use your app or website. Choose from any
      of our pricing plans that work to fit you as you grow.
    </p>
  </div>

  <div class="flex flex-col gap-4 md:flex-row pt-4">
    <div
      class="flex flex-col flex-grow place-content-between items-center py-12 rounded-md text-[#5D6B8F] text-center border-purple-700 border-4 box-content"
    >
      <h3 class="text-gray-500 font-semibold">ESSENTIAL</h3>
      <img src="../src/assets/essential-icon.svg" alt="" class="py-6 w-[128px]" />
      <p class="text-5xl py-4">$79<span class="text-base">/mo</span></p>
      <div class="flex flex-col gap-2 py-8">
        <p><b>Unlimited</b> projects</p>
        <p><b>Limited</b> core reports</p>
        <p><b>60 days</b> data history</p>
        <p><b>3</b> members / projects</p>
        <p>A/B Testing</p>
      </div>
      <div
        class="border-gray-500 border-2 py-2 px-8 rounded text-base text-[#D697E1] font-semibold box-border hover:border-purple-700 hover:text-[#5D6B8F]"
      >
        <button>CHOOSE PLAN</button>
      </div>
    </div>

    <div
      id="premium"
      class="flex flex-col flex-grow place-content-between items-center py-12 rounded-md text-gray-200 text-center"
    >
      <h3 class="text-gray-500 font-semibold">PREMIUM</h3>
      <img src="../src/assets/premium-icon.svg" alt="" class="py-6 w-[128px]" />
      <p class="text-5xl py-4">$159<span class="text-base">/mo</span></p>
      <div class="flex flex-col gap-2 py-8">
        <p class="font-semibold">Everything in Essential +</p>
        <p><b>Unlimited</b> core reports</p>
        <p><b>240 days</b> data history</p>
        <p><b>10</b> members / projects</p>
        <p><b>Unlimited</b> saved reports</p>
        <p>Predictive analytics</p>
      </div>
      <div
        class="py-2 px-8 rounded text-base text-[#D697E1] font-semibold bg-white shadow-xl border-2 border-[transparent] hover:text-[#5D6B8F]"
      >
        <button>CHOOSE PLAN</button>
      </div>
    </div>

    <div
      class="flex flex-col flex-grow place-content-between items-center py-12 rounded-md text-[#5D6B8F] text-center border-purple-700 border-4 box-content"
    >
      <h3 class="text-gray-500 font-semibold">ENTERPRISE</h3>
      <img src="../src/assets/enterprise-icon.svg" alt="" class="py-6 w-[128px]" />
      <p class="text-5xl py-4">$359<span class="text-base">/mo</span></p>
      <div class="flex flex-col gap-2 py-8">
        <p class="font-semibold">Everything in Premium +</p>
        <p><b>480 days</b> data history</p>
        <p><b>30</b> members / projects</p>
        <p>Predictive analytics</p>
        <p>Advanced analytics</p>
      </div>
      <div
        class="border-gray-500 border-2 py-2 px-8 rounded text-base text-[#D697E1] font-semibold box-border hover:border-purple-700 hover:text-[#5D6B8F]"
      >
        <button>CHOOSE PLAN</button>
      </div>
    </div>
  </div>
</div>
