@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    font-family: 'PT Serif', serif;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
button,
nav {
    font-family: 'Montserrat', sans-serif;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .nav-popup {

        position: absolute;
        width: 80%;
        min-height: 60%;
        top: 10%;
        transform: translateX(-50%);
        left: 50%;
        background-color: white;
        padding: 4rem;
        gap: 1rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
        border-radius: 1rem;


    }

    @supports (backdrop-filter: blur(1rem)) {
        .nav-popup {
            -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
            background-color: hsla(0, 0%, 100%, 0.1);
        }

    }
}


#intro-bg {
    /* background-image: url('../src/assets/bg.jpg');
    background-size: cover;
    background-position: right; */
}


#video-section {
    background-image: url('../src/assets/shapes2.svg');
    background-size: cover;
    background-position: right;

}

.companies-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

@media (min-width:768px) {
    .companies-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    }
}

#companies {
    background: #FFCB9C;

    background: -webkit-linear-gradient(to bottom, #FFCB9C, #EB65B7);

    background: linear-gradient(to bottom, #FFCB9C, #EB65B7);

}

@media (min-width:768px) {
    #companies {
        background: #F596AA;

    }
}


#premium {
    background: #3123AE;

    background: -webkit-linear-gradient(to bottom, #3123AE, #C86DD7);

    background: linear-gradient(to bottom, #3123AE, #C86DD7);



}

#bg {

    top: 0;
    z-index: -10;
    height: 100vh;
    width: 100%;

}



#play:hover {

    filter: hue-rotate(60deg);
    transition: 0.5s all ease;
}